.header_name{
    font-size: 4em;
    font-weight: normal;
    text-transform:uppercase;
    font-stretch:ultra-expanded;
}

.header_designation{
    font-weight: bold;
    text-align: right;
}

.modern{
    border: 2px solid #7d97ad; 
    margin:auto; 
    width:100%
}

.feature
{
    padding:20px;
    width: 100%;
}

.greyish{
    color: #7d97ad;
}

.center_img{
    margin:0 auto;
}
.center_h1{
    text-align: center;
}

.center_a{
    text-align: center;
    display:block;
}

ul#listicon li{
    display: inline;
    list-style-type: none;
}

.footers{
    background-color:black;
    padding: 10px;
}
.fa {

  border-radius:50%;
  border:2px solid white;
  padding: 20px; 
  text-align: center;
    margin:4px 7px;
  text-decoration: none;

}

.footers_face {
  background-color: darkblue;
  color: white;
}
.footers_twitt{
    background-color: lightblue;
    color:white;
}
.footers_linked{
    
    background-color:dodgerblue;
    color:white;
    
}

.footers_text{
    color:white;
    font-weight: bold;
    text-transform: capitalize;
    padding: 20px;
}
